<nav class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-x-10 gap-y-5 max-w-screen-lg sm:mx-5 md:mx-5 sm:mx-5 xl:mx-auto py-10 pt-5 sm:pt-0 sm:py-0">
  {%- for link in section.settings.menu.links -%}
    {%- case link.levels -%}
      {%- when 1 or 2 -%}
        <div>
          <div class="font-semibold text-sm mb-2">{{ link.title }}</div>
          <ul class="space-y-1 text-gray-500">
            {%- for child_link in link.links -%}
              <li>{{ child_link.title | link_to: child_link.url, class: 'hover:text-black' }}</li>
            {%- endfor -%}
          </ul>
        </div>

      {%- when 0 -%}
        <div>{{ link.title | link_to: link.url, class: 'hover:text-black text-gray-500' }}</div>

    {%- endcase -%}
  {%- endfor -%}
</nav>
