<nav class="grid grid-cols-3 space-x-10 max-w-screen-lg mx-auto">
  {%- for link in section.settings.menu.links -%}
    {%- case link.levels -%}
      {%- when 1 or 2 -%}
        <div>
          <div class="font-semibold text-sm mb-2">{{ link.title }}</div>
          <ul class="space-y-1 text-gray-500">
            {%- for child_link in link.links -%}
              <li>{{ child_link.title | link_to: child_link.url, class: 'hover:underline' }}</li>
            {%- endfor -%}
          </ul>
        </div>

      {%- when 0 -%}
        <div>{{ link.title | link_to: link.url, class: 'hover:underline text-gray-500' }}</div>

    {%- endcase -%}
  {%- endfor -%}
</nav>
