<div class="bg-[#f9fafb] py-6 border-t border-gray-200">
  <div class="max-w-7xl mx-auto px-6 md:px-8 flex flex-wrap justify-between items-center">
    <p class="text-gray-600 text-sm">
      &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. All rights reserved.
    </p>

    {%- if shop.enabled_payment_types.size > 0 -%}
      <ul class="flex space-x-3">
        {%- for type in shop.enabled_payment_types -%}
          <li>{{ type | payment_type_svg_tag }}</li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
  </div>
</div>


<style type="text/tailwindcss">
  #shopify-section-{{ section.id }} {
    @apply bg-[var(--canvas)] text-[var(--ink)];
  }
</style>

{% schema %}
{
  "name": "Footer bottom",
  "tag": "footer",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme"
    },
    {
      "type": "checkbox",
      "id": "show_follow_on_shop",
      "label": "Show Follow on Shop",
      "default": false
    }
  ]
}
{% endschema %}
